* {
  margin: 0;
  padding: 0;
}
/* main div full screen */
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}
/* Sign page */
.login-form {
  margin-top: 15em;
}
.sign-up-title {
  display: flex;
  justify-content: center;
  font-size: 3em;
  position: relative;
  animation: title;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}
@keyframes title {
  0% {
    top: -500px;
  }
  100% {
    top: 0px;
  }
}
.form-details {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  position: relative;
  animation-name: input;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes input {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.login-field {
  height: 2em;
  border: 0;
  border-bottom: 1px solid;
  font-size: 1em;
  padding: 1em;
}
#password-field {
  margin-left: 5em;
}
.login-buttons {
  margin-top: 3em;
  display: flex;
  justify-content: center;
}
.login-btn {
  height: 2.5em;
  width: 7em;
  border-radius: 5px;
  background-color: white;
  border: none;
  font-size: 1em;
  animation-name: input;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
  margin: 1em;
}

#google_img {
  height: 45px; 
  width: 45px;
  animation-name: input;
	animation-delay: 2s;
	animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.google-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
}


* {
	box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgb(137,228,225);
  background: radial-gradient(circle, rgba(137,228,225,1) 0%, rgba(5,5,5,1) 100%);
}

nav {
	padding: 20px 10px;
	color: white;
	background: grey;
}

.note-form {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.note-form input {
	padding: 3px 3px;
  outline: none;
  border: 1px solid rgb(174,238,236) 
}

.note-form button {
	margin-left: 10px;
	color: white;
	background: #007bff;
	padding: 5px 10px;
	border: none;
}

.container {
	display: flex;
	justify-content: center;
}

.notes-container {
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
}

.note {
  width: 20%;
  margin: 10px;
  padding: 13px;
  border-radius: 5px;
  /* border: solid black 1px; */
  border: 1px solid rgb(174,238,236) ;
  background-color: rgba(255, 255, 255, 0.452);
}

.btn-container {
	display: flex;
	justify-content: flex-end;
}

.btn-container button {
	margin-right: 10px;
}

.edit {
  color: black; 
  background: rgb(109 218 215);
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
}

.delete {
  color: white;
  background: rgb(243 128 111);
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
}

/* 
p {
  color: black;
} */

input{
  margin-right: 20px;
  border: solid black 1px;
  border-radius: 10px;
}

.small-font {
  color: rgb(32, 30, 30);
  padding-bottom:1em;
}

.CatAndDes {
text-decoration: underline;
}

.sign-up-title{
  color: rgb(116 249 244);
} 